body {
  font-family: Arial, sans-serif;
  background-color: #42b625;
  margin: 0;
  height: 100vh;
  padding: 0;
  
}

footer p {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-bottom: 0;
  background-color: #000;
  color: #fff;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  background-color: #000;
  color: #fff;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
}

header a{
  color: #fff;
  text-decoration: none;
}

.contacts {
  display: flex;
  flex-wrap: wrap;
}

.contact {
  width: 300px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.contact img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 10px;
}

.contact-info {
  display: inline-block;
}

.contact-info h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.contact-info p {
  margin: 5px 0;
}
